/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    direction: rtl; /* Right-to-left support */
  }
  
  /* Container Styling */
  .container {
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  /* Progress Bar */
  .progress-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .step {
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e9ecef;
    color: #adb5bd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  
  .step.completed .circle {
    background-color: #921A40;
    color: white;
  }
  
  .label {
    margin-left: 10px; /* Adjusted for RTL */
    font-size: 14px;
  }
  
  /* Form Step Styling */
  .form-step {
    display: none;
  }
  
  .form-step.active {
    display: block;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
  }
  
  input:focus {
    border-color: #921A40;
    box-shadow: 0 0 4px rgba(16, 108, 79, 0.5);
  }
  
  /* Navigation Buttons */
  .nav-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .previous {
    background-color: #f1f3f5;
    color: #495057;
  }
  
  .previous:hover {
    background-color: #e9ecef;
  }
  
  .next {
    background-color: #921A40;
    color: white;
  }
  
  .next:hover {
    background-color: #921a405a;
  }
  
  button:disabled {
    background-color: #e9ecef;
    color: #adb5bd;
    cursor: not-allowed;
  }
  